@import './config.module';

.biscuit-machine {
	$height: 60;
	max-width: $maxWidth;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	height: vw($height);
	padding-bottom: 30px;
	transform: translateZ(0);

	@media screen and (max-width: 400px) {
		height: 95vw;
	}

	@media screen and (max-width: 500px) {
		height: 75vw;
	}

	@include media-max {
		height: max($height);
	}
}
