$tickMilliseconds: 100;
$movingMilliseconds: 2000;
$pausedMilliseconds: 2000;

$extrudeMovingKeyframe: 0.06;
$extrudeMovingPercentage: $extrudeMovingKeyframe * 100%;
$extrudeDuration: 1300; // ms
$cookieTransitionDelay: $extrudeMovingKeyframe * $extrudeDuration; // ms
$cookieTransformTransitionDuration: $extrudeDuration - $cookieTransitionDelay + 200; // ms

:export {
	tickMilliseconds: $tickMilliseconds;
	movingMilliseconds: $movingMilliseconds;
	pausedMilliseconds: $pausedMilliseconds;
}

$maxWidth: 900px;

/**
 * Adds vw unit to a variable
 */
@function vw($value) {
	@return $value * 1vw;
}

/**
 * Adds ms unit to a variable
 */
@function ms($value) {
	@return $value * 1ms;
}

/**
 * Calculates the max width for a given vw
 */
@function max($value) {
	@return ($value / 100) * $maxWidth;
}

@mixin media-max {
	@media screen and (min-width: $maxWidth) {
		@content;
	}
}
